{############################################################################################}
{#     _flash_messages.html.twig                                                            #}
{#     display message flash in a page                                                      #}
{#     this module should be included in the body of the page                               #}
{#     @jphnovitz    2018                                                                   #}
{############################################################################################}

<!-- Flash message display module -->
{% for label, messages in app.flashes %}
    {%  for message in messages %}
        <div class="ui {{ label }} message">
            {% if label == 'error' %}
                <i class="times icon"></i> {{ message }}
            {% elseif label == 'notice' %}
                <i class="exclamation icon"></i> {{ message }}
            {% elseif label == 'info' %}
                <i class="info icon"></i> {{ message }}
            {% elseif label == 'success' %}
                <i class="thumbs up icon"></i> {{ message }}
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}

<!-- end Flash message display module -->