{%  extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {%  for message in messages %}
        <div class="alert alert-{{ label }}">
            <i class="material-icons">info_outile</i> {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    <h1>Category  Form</h1>

    {{ form_start(form) }}
    <div class="form-row">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-row">
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>
    {{ form_widget(form) }}
    <button type="submit">GO</button>
    {{ form_end(form) }}
{% endblock %}