{% extends '_bases/_security_base.html.twig' %}

{%  block body %}
    {% include '_elements/_flash_messages.html.twig' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <h1 class="ui icon header">
        <img src="{{asset('/images/common/logo.png') }}" class="ui large image"  />
        <div class="content">n
            Connexion
            <div class="sub header"><a href="{{ path('register') }}"> Pas encore inscrit ?</a></div>
        </div>
    </h1>
<form action="{{ path('login') }}" method="post" class="ui form">
    <div class="field" >
    <label for="username"  class="custom">Nom d'utilisateur:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"  />
    </div>
    <div class="field" >
        <label for="password"  class="custom">Mot de passe:</label>
        <input type="password" id="password" name="_password"  />
    </div>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <div class="one wide column">
        <button class="ui circular positive massive button">
            Login
        </button>
    </div>
</form>

{%  endblock %}