{%  extends '_bases/_security_base.html.twig' %}
{% block toolbar %}
{% endblock %}
{% block body %}
    {% block title %}<h1 class="ui icon header">
        <img src="{{asset('/images/common/logo.png') }}" class="ui large image"  />
        <div class="content">
            Reinitialisaton du mot de passe
            <div class="sub header" style="background-color: white"></div>
        </div>
        </h1>{% endblock %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'ui form'}}) }}
    {% block form_details %}
        <div class="field">
            <label for="form.plainPassword.first" >Mot de passe</label>
            {{ form_widget(form.plainPassword.first, {"attr": {"class": ""}}) }}
        </div>
        <div class="field">
            <label for="form.plainPassword.second" class="custom">Vérification</label>
            {{ form_widget(form.plainPassword.second, {"attr": {"class": ""}}) }}
        </div>
        {% if form.plainPassword.vars.errors|length %}
            <div class="ui pointing red basic label">
                {{ form_errors(form.plainPassword, {"attr": {"class": ""}}) }}
            </div>
        {% endif %}


    {% endblock %}

    {{ form_rest(form) }}

    <button type="submit">Go</button>
    {{ form_end(form) }}
{% endblock %}