{% extends '_skeletons/_forms.html.twig' %}

{% block title %}Entrée de marchandises{% endblock %}
    {% block form_details %}
        <div class="field">
            {{ form_label(form.provider) }}
            {{ form_widget(form.provider) }}
        </div>
        <div class="field">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment) }}
        </div>

        <div   id="tags" class="field"  data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
            <ul class="tags">
            {{ form_label(form.tags) }} <button @click.prevent="plus" class="ui circular icon positive button">+1</button>
            {{ form_widget(form.comment) }}
            <div v-for="line in lines">
                <span v-html="line"></span>
            </div>
            {#<add-button @click="test"></add-button>#}
        </div>

{#{% include '_elements/_input_collection.html.twig' %}#}

    {% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script>

    (function () {
        Vue.component('add-button', {
            template: '<div><button >tedst</button></div>'
        })

        const tags = new Vue({
            el: '#tags',
            delimiters: ['${', '}'],
            components: ['add-button'],
            data: {
                line: '',
                lines:[]
            },
            mounted(){
                this.line = this.$el.dataset.prototype
                // console.log(test);
                // this.lines.push(line)
            },
            methods:{
                plus: function () {
                    this.lines.push(this.line)
                }
            }
        });
    })();
</script>
{% endblock %}