{% extends '_skeletons/_forms.html.twig' %}

{% block title %}Entrée de marchandises{% endblock %}
    {% block form_details %}
        <div class="field">
            {{ form_label(form.provider) }}
            {{ form_widget(form.provider) }}
        </div>
        <div class="field">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment) }}
        </div>
    <div   id="tags" class="field"  data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
            {{ form_label(form.tags) }}
                <template v-if="index < 0 ">
                    <button @click.prevent="plus" class="ui circular icon positive button">+1</button>
                </template>
                {% for tag in form.tags %}
                    <span>{{ form_row(tag.name) }}</span>
                {% endfor %}
                {{ form_widget(form.tags) }}
            <div v-for="line in lines">
                    <span v-html="line"></span>
                    <button @click.prevent="plus" class="ui circular icon positive button">+1</button>
            </div>
        </div>

    {% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script>

    (function () {
        const tags = new Vue({
            el: '#tags',
            delimiters: ['${', '}'],
            data: {
                line: '',
                lines:[],
                index: -1
            },
            mounted(){
                // this.line = this.$el.dataset.prototype.replace(/__name__/g, this.index)
            },
            methods:{
                plus: function () {
                    this.index++
                    this.line = this.$el.dataset.prototype.replace(/__name__/g, this.index)
                    this.lines.push(this.line)
                }
            }
        });
    })();
</script>
{% endblock %}