{% block title %}
    <h2 class="ui huge orange header">{{ title }}</h2>
{% endblock %}
<div class="ui grid">
<div class="two column mobile only row" style="padding-top: 2rem;">
    {#<div class="ui {{ columns }} stackcards">#}
    {% include '_elements/_products_front/_cards_responsive/_mobile_only.html.twig' with {
        'max' : 2
    }  %}
</div>
    <div class="four column tablet only row ">
        {#<div class="ui {{ columns }} stackcards">#}
        {% for item in items %}
            <div class="column">
                <div class="ui fluid card">
                    {% include '_elements/_products_front/_cards_responsive/_tablet_only.html.twig' %}
                </div>
            </div>
        {% endfor %}

    </div>
    {#<div class="four column widescreen only large screen hidden row ">#}
        {#<div class="ui {{ columns }} stackcards">#}
        {#{% for item in items %}#}
            {#<div class="column">#}
                {#<div class="ui fluid card">#}
                    {#{% include '_elements/_products_front/_cards_responsive/_tablet_only.html.twig' %}#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}

    {#</div>#}
    <div class="five column large screen only row ">
        {#<div class="ui {{ columns }} stackcards">#}
        {% for item in items %}
            <div class="column spaced-1">
                <div class="ui fluid card">
                    {% include '_elements/_products_front/_cards_responsive/_tablet_only.html.twig' %}
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{#<div class="image">#}
                    {#<span class="ui orange ribbon label">{{ item.price }} eur</span>#}
                    {#{% if  item.images is not empty %}#}
                        {#<img src="{{ asset('images/products/'~item.images[0].imageName) }}">#}
                    {#{% else %}#}
                        {#<img src="{{ asset('images/logo_white-400.png') }}">#}
                    {#{% endif %}#}
                {#</div>#}
                {#<div class="content">#}
                    {#<div class="meta ">#}
                    {#<span class="ui tiny green header">#}
                            {#{% for type in  item.types %}#}
                                {#{{ type.name }}#}
                            {#{% endfor %}#}
                    {#</span>#}
                    {#</div>#}
                    {#<a href="{{ path('product_card', {'slug': item.slug}) }}"#}
                       {#class="ui medium header"#}
                       {#style="margin-top: -1px ; "#}
                    {#>{{ item.name }}</a>#}
                    {#<div class="ui horizontal list ">#}
                        {#{% for ingredient in item.ingredients |slice(0, 3) %}#}
                            {#<i class="item">#}
                                {#{{ ingredient.name|hashtag }}#}
                            {#</i>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#</div>#}
                {#<div class="extra content">#}
                    {#{% if item.halal %}#}
                        {#<a>#}
                            {#<img src="{{ asset('images/flags/halal-flag-50.png') }}">#}
                        {#</a>#}
                    {#{% endif %}#}
                {#</div>#}