{% extends '_skeletons/_forms.html.twig' %}

{% block title %}Ajout d'un produit{% endblock %}

    {% block form_details %}
        <div class="ui stackable grid">
            <div class="eight wide column">
                <div class="field">
                    <label for="form_name" class="custom">Nom</label>
                    {{ form_widget(form.name, {"attr": {"class": "custom"}}) }}
                    {% if form.name.vars.errors|length %}
                        <div class="ui pointing red basic label">
                            {{ form_errors(form.name) }}
                        </div>
                    {% endif %}

                </div>
                <div class="field">
                    <label for="form_description">Description</label>
                    {{ form_widget(form.description) }}
                    {% if form.description.vars.errors|length %}
                        <div class="ui pointing red basic label">
                            {{ form_errors(form.description) }}
                        </div>
                    {% endif %}

                </div>
                <div class="fields">
                    <div class="field">
                        <label for="form_price">Prix</label>
                        {{ form_widget(form.price, {attr: {"size":2}}) }}
                    </div>
                    {% if form.price.vars.errors|length %}
                        <div class="ui pointing red basic label">
                            {{ form_errors(form.price) }}
                        </div>
                    {% endif %}
                    <div class="field">
                        <label for="form_isActive">Actif</label>
                        {{ form_widget(form.isActive) }}
                    </div>
                    <div class="field">
                        <label for="form_featured">A la une</label>
                        {{ form_widget(form.featured) }}
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label for="form_types">Types</label>
                    {{ form_widget(form.types) }}
                </div>
                {% if form.types.vars.errors|length %}
                    <div class="ui pointing red basic label">
                        {{ form_errors(form.types, {"attr": {"class": "form-error"}}) }}
                    </div>
                {% endif %}
                <div class="field">
                    <label for="form_vegetables">Crudités disponibles</label>
                    {{ form_widget(form.vegetables) }}
                </div>
                {% if form.vegetables.vars.errors|length %}
                    <div class="ui pointing red basic label">
                        {{ form_errors(form.vegetables) }}
                    </div>
                {% endif %}
                <div class="field">
                    <label for="form_breads">Pains disponibles</label>
                    {{ form_widget(form.breads) }}
                </div>
                {% if form.breads.vars.errors|length %}
                    <div class="ui pointing red basic label">
                        {{ form_errors(form.breads) }}
                    </div>
                {% endif %}

            </div>
            <div class="sixteen wide column">
                <div class="ui cards">
                    {% for image in form.images %}
                        <div class="ui one wide column card" >
                            <div class="image">
                                {{ form_row(image.imageFile) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="vich-image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                </ul>
            </div>
        </div>{#
        <div class="form-row">
            {% for image in form.images %}
                {{ form_row(image.imageFile) }}
            {% endfor %}
        </div>
        <ul class="vich-image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        </ul>#}
        {% include '_elements/_upload_collection.html.twig' %}
    {% endblock %}
