{% embed '_skeletons/_card.html.twig' %}

    {% set entity = 'ingredients' %}
    {% set object = ingredient %}

    {% block sub_header %}
        {% if object.description is defined %}
            {% if object.description is not empty %}
                {{ object.description }}
            {% else %}
                <em>pas de commentaire</em>
            {% endif %}
        {% endif %}
    {% endblock %}


    {% block infos %}
        <br /> Pain: {{ object.bread ? '<i class="ui green horizontal label"> oui</i>' : '<i class="ui red horizontal label"> non </i>' }}
        <br /> Crudité: {{ object.vegetable ? '<i class="ui green horizontal label"> oui</i>' : '<i class="ui red horizontal label"> non </i>' }}
        <br /> Sauce: {{ object.sauce ? '<i class="ui green horizontal label"> oui</i>' : '<i class="ui red horizontal label"> non </i>' }}
    {% endblock %}

    {% block card_rest %}
        {% if (object.categories is not empty) %}
            <h3>fait partie des categories :</h3>
            <div class="ui bulleted animated list">
                {% for category in object.categories %}
                    <div class="item">
                        <a href="{{ path('categories_show', {'slug': category.slug}) }}">
                            {{ category.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if (object.components is not empty) %}
            <h3>Se compose de :</h3>
            <div class="ui bulleted animated list">
                {% for component in object.components %}
                    <div class="item">
                        <a href="{{ path('ingredients_show', {'slug': component.slug}) }}">
                            {{ component.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}

