{% extends 'base.html.twig' %}

{%  block body %}

    <h1>Admin</h1>
    <div class="list-group">
    <div class="list-group-item"> <a href="{{ path('ingredients_list') }}"> Liste ingredients</a> </div>
    <div class="list-group-item"> <a href="{{ path('categories_list') }}"> Liste categories d'ingredients</a> </div>
    <div class="list-group-item"> <a href="{{ path('products_list') }}"> Liste produits</a> </div>
    <div class="list-group-item"> <a href="{{ path('types_list') }}"> Liste types de produits</a> </div>
    <div class="list-group-item"> <a href="{{ path('providers_list') }}"> Liste fournisseurs</a> </div>
    <div class="list-group-item"> <a href="{{ path('allergies_list') }}"> Liste allergies</a> </div>
    <div class="list-group-item"> <a href="{{ path('inputs_list') }}"> Liste entrées</a> </div>
<div>
{% endblock %}