{% extends 'base.html.twig' %}

{%  block body %}
    <h1>Admininistration</h1>
    <div class="square-group">
    <div class="square-group-item">
        <a href="{{ path('ingredients_list') }}">
            <i class="material-icons">input</i>
            <span class="link-name">Entrées</span>
        </a>
        {% include '_elements/_loop_entity_list.html.twig' with {'objects': ingredients} %}
    </div>
        <div class="square-group-item">
            <a href="{{ path('categories_list') }}">
                <i class="material-icons">local_offer</i>
                <span class="link-name">Categorie</span>
            </a>
            {%  include '_elements/_loop_entity_list.html.twig' with {'objects': categories} %}
        </div>
        <div class="square-group-item">
            <a href="{{ path('products_list') }}">
                <i class="material-icons">restaurant</i>
                <span class="link-name">Products</span>
            </a>
            {% include '_elements/_loop_entity_list.html.twig' with {'objects': products} %}
        </div>
        <div class="square-group-item">
            <a href="{{ path('types_list') }}">
                <i class="material-icons">event_note</i>
                <span class="link-name">Types</span>
            </a>
            {% include '_elements/_loop_entity_list.html.twig' with {'objects': types} %}
        </div>
        <div class="square-group-item">
            <a href="{{ path('providers_list') }}">
                <i class="material-icons">store_mall_directory</i>
                <span class="link-name">Fournisseurs</span>
            </a>
            {% include '_elements/_loop_entity_list.html.twig' with {'objects': providers} %}
        </div>
        <div class="square-group-item">
            <a href="{{ path('allergies_list') }}">
                <i class="material-icons">assignment_late</i>
                <span class="link-name">Allergies</span>
            </a>
            {%  include '_elements/_loop_entity_list.html.twig' with {'objects': allergies} %}
        </div>
        <div class="square-group-item">
            <a href="{{ path('inputs_list') }}">
                <i class="material-icons">input</i>
                <span class="link-name">Entrées</span>
            </a>
            {% include '_elements/_loop_entity_list.html.twig' with {'objects': inputs} %}
        </div>
    <div>
{% endblock %}