<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <link href="{{ asset('build/css/sui.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/back.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="ui grid" id="app">
    {% block toolbar %}
        <div class="ui top fixed  fluid menu">
            <a class="orange item" id="button">
                <i class="centered bars white large icon"></i>
            </a>
            <div class="ui huge orange header item">
                La Clémentine
            </div>

            <a class="item">
                voir le site
            </a>
        </div>
    {% endblock %}

        <div class="ui huge vertical menu"
             id="lateral-menu"
             style="z-index: 200"
             :class="[show ? 'showit' : 'hide' ]">

            <a href="{{ path('admin_default') }}" class="item" >
                Accueil
                {#<div class="ui teal left pointing label">1</div>#}
            </a>
            <a class="item">
                Utilisateurs
                {#<div class="ui teal left pointing label">1</div>#}
            </a>
            <a href="{{ path('products_list') }}" class="item">
                Produits
                {#<div class="ui label">51</div>#}
            </a>
            <a href="{{ path('types_list') }}" class="item">
                Types de produits
            </a>
            <a href="{{ path('ingredients_list') }}" class="item">
                Ingrédients
            </a>
            <a href="{{ path('categories_list') }}" class="item">
                Categories d'Ingrédients
            </a>
            <a href="{{ path('allergies_list') }}" class="item">
                Allergies
            </a>
            <a class="item">
                Configuration du site
            </a>
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search mail...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        {#<div class="left aligned item">#}
            {#<div class="header">Aliments</div>#}
            {#<div class="menu">#}
                {#<a class="huge item" href="{{ path('products_list') }}"> Produits </a>#}
                {#<a class="item" href="{{ path('types_list') }}"> Types de produits</a>#}
                {#<a class="item" href="{{ path('ingredients_list') }}"> Ingredients </a>#}
                {#<a class="item" href="{{ path('categories_list') }}"> Catégories d'ingrédient </a>#}
            {#</div>#}
            {#<div class="header">Configuration</div>#}
            {#<div class="menu">#}
                {#<a class="huge item" href="{{ path('configuration') }}"> Géneral </a>#}
                {#<a class="item" href="{{ path('services_list') }}"> Services</a>#}
            {#</div>#}
        {#</div>#}
    </div>
    <div class="ui fourteen wide column container" style="margin-top: 8rem">
        {% block body %}{% endblock %}
    </div>
</div>
     <script src="{{ asset('build/js/app.js') }}"></script>
    {#<script src="{{ asset('build/js/vue.js') }}"></script>#}

    {% block javascripts %}{% endblock %}
</body>
</html>
