<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration - La clementine.be{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="{{ asset('build/js/sui.js') }}"></script>
    <link href="{{ asset('build/css/sui.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/back.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="ui grid">
    {% block toolbar %}
        <div class="ui top fixed  fluid menu">
            <a class="orange item"  >
                <i class="centered bars white large icon" id="general-button"></i>
            </a>
            <div class="ui large orange header item">
                La Clémentine
            </div>

            <a class="item" href="http://laclementine.be">
                voir le site
            </a>
        </div>
    {% endblock %}
    <div class="ui huge vertical menu hide"
         id="lateral-menu"
         style="z-index: 200"
         :class="[show ? 'showit' : 'hide' ]">
        <a href="{{ path('admin_default') }}" class="item" >
            Accueil
        </a>
        <a href="{{ path('providers_list') }}" class="item" >
            Fournisseurs
        </a>
        <a href="{{ path('ingredients_list') }}" class="item">
            Ingrédients
        </a>
             <a href="{{ path('categories_list') }}" class="item">
                 &nbsp;&nbsp; Categories d'ingrédients
            </a>
            <a href="{{ path('allergies_list') }}" class="item">
                &nbsp;&nbsp; Allergies
            </a>

        <a href="{{ path('products_list') }}" class="item">
            Produits
            {#<div class="ui label">51</div>#}
        </a>
        <a href="{{ path('types_list') }}" class="item">
            &nbsp;&nbsp;  Types de produits
        </a>
        <a href="{{ path('configuration') }}" class="item">
            Configuration du site
        </a>
        <a href="{{ path('services_list') }}" class="item">
            &nbsp;&nbsp;  Services
        </a>
        <a href="{{ path('users_list') }}" class="item">
           Utilisateurs
            {#<div class="ui teal left pointing label">1</div>#}
        </a>
        <a href="{{ path('logout') }}" class="item">
           Déconnexion
        </a>
        <a href="{{ path('dashboard') }}" class="item">
           Dashboard
        </a>
        <div class="item">

        </div>
    </div>
    {#</div>#}

    <div class="one wide column" style="margin-top: 8rem">
        {% block left_column %}
            {# nothing just in case and balance between left and right#}
        {% endblock %}
    </div>
    <div class="thirteen wide column"   style="margin-top: 8rem">
        {% include '_elements/_flash_messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</div>
    <div class="two wide column" style="margin-top: 8rem">
        {% block right_column %}
            {# action button fits just good here #}
        {% endblock %}
    </div>


<script src="{{ asset('build/js/app.js') }}"> </script>
{% block javascripts %}{% endblock %}
{% block sui_js %}{% endblock %}

</body>
</html>
