<!DOCTYPE html>
<html lang="fr"  xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sandwicherie Saint-Nicolas - La clementine.be{% endblock %}</title>
    <meta name="description" content="
    {% block description %}La sandwhicherie La Clémentine  vous propose des sanwdiches originaux, de la petite restauration italienne à petits prix. Montegnée, Saint-Nicolas (Liège) {% endblock %}
    ">
    <link rel="canonical" href="https://laclementine.be" />
    {% block og_seo %}
        <!-- Open Graph data -->
        <meta property="og:title" content="Sandwicherie Saint-Nicolas (liège) | laclementine.be" />
        <meta property="og:type" content="Site Web sandwicherie" />
        <meta property="og:url" content="https://laclementine.be" />
        <meta property="og:image" content="https://laclementine.be/images/logo_white-400.png" />
        <meta property="og:description" content="Sandwicherie artisanale traiteur Saint-Nicolas Liège Montegnée " />
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon-clementine.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="{{ asset('build/js/sui.js') }}"></script>
    {#<script src="{{ asset('build/js/app-front.js') }}"></script>#}
    <link href="{{ asset('build/css/sui.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/front.css') }}" rel="stylesheet">
    <script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>

    {% block stylesheets %}{% endblock %}
    {% include '_elements/analytics.html.twig' %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KN2JL6J"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "La Clémentine Sandwicherie",
        "url": "http://www.laclementine.be",
        "address": "Chaussée Roosvelt 101b 4420 Saint-Nicolas",
        "sameAs": [
            "https://www.facebook.com/laclementine.be",
            "https://www.instagram.com/laclementine.be",
            "https://www.linkedin.com/company/laclementine-be/"
        ]
    }
</script>

<div class="bg">
    <header>
        <div class="ui container">
            {% block toolbar %}
                <div id="toolbar" class="ui stackable grid">
                    <div class=" row">
                        <div class="five wide column left aligned bottom aligned middle aligned phone-cell">
                            <a href="tel:+320468538605">
                                <i class="phone icon"></i>0468 53 86 05
                            </a>
                        </div>
                        {#<div class="three wide column">#}
                        {#</div>#}
                        {#<div class="eight wide column right aligned ui grid">#}
                        {#{% include '_elements/_header_front/_connect_status.html.twig' %}#}
                        {#</div>#}
                    </div>
                </div>
            {% endblock %}
        </div>
        <nav class="ui container">
            <div class="ui stackable  mobile reversed grid">
                <div class="four wide column left aligned">
                    <a href="http://laclementine.be" class="item">
                        <div class="site-title">La Clémentine</div>
                    </a>
                </div>
                <div class="twelve wide column right aligned">
                    <div class="ui stackable mobile menu" id="menu">
                        <div class="item">
                            <button class="ui primary basic button" @click="menuClick()">menu</button>

                            {#<i class="large bars icon"></i>#}
                            {#</a>#}
                        </div>
                        <div v-bind:class="{show: isActive}">
                            <div class="link item">
                                <a href="{{ path('home') }}"> Accueil </a>
                            </div>
                            <div class="link item">
                                <a href="{{ path('front_products_list') }}"> La Carte </a>
                            </div>
                            <div class="link item">
                                <a href="{{ path('front_cater') }}">Traiteur</a>
                            </div>
                            <div class="link item">
                                <a href="{{ path('front_photos_instagram') }}"> Photos </a>
                            </div>
                            <div class="link item">
                                <a href="{{ path('front_schedules_list') }}">Horaires </a>
                            </div>
                            <div class="link item">
                                <a href="{{ path('front_contact') }}">Contact </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if app.request.pathInfo == '/' %}
                <div class="ui stackable grid">
                    <div class="sixteen wide column center aligned cta ">
                        <p class="cta-pitch">
                            {{ render(controller('App\\Controller\\Front\\frontController::pitch')) }}
                        </p>
                        <a href="http://facebook.com/laclementine.be" class="ui primary basic huge button">
                            <i class="facebook icon"></i>
                            <span class="not-mobile"> Facebook </span>
                        </a>
                        <a href="http://facebook.com/laclementine.be" class="ui primary basic huge button">
                            <i class="instagram icon"></i>
                            <span class="not-mobile"> Instagram </span>
                        </a>

                    </div>
                </div>
            {% endif %}
        </nav>
    </header>
</div>

<div class="ui container">
    <div class="ui center aligned  grid"> <!-- flash message -->
        <div class="row">
            <div class="sixteen wide column">
                {% include '_elements/_flash_messages.html.twig' %}
            </div>
        </div>

        {% block body %}
            content
        {% endblock %}
    </div>
</div>


{% block footer %}
    {{ render(controller('App\\Controller\\Front\\frontController::infos')) }}
{% endblock %}

<script src="{{ asset('build/js/app.js') }}"></script>
<script>
    const menu = new Vue({
        el: '#menu',
        data() {
            return {
                isActive: false
            }
        },
        methods: {
            menuClick: function () {
                this.isActive = !this.isActive
            }
        }
    });
</script>

<script>
    // simpleslider.getSlider();
    var imgSlider = simpleslider.getSlider({
        container: document.getElementById('homeSlider'),
        prop: 'left',
        init: -612,
        show: 0,
        end: 612,
        unit: 'px',
        delay: 5,
        duration: 1
    });
</script>
{% block javascripts %}

{% endblock %}
{% block sui_js %}{% endblock %}

</body>
</html>
