{% extends '_skeletons/_forms.html.twig' %}

{% block title %}Ajout d'un ingrédient{% endblock %}
    {% block form_details %}
        <div class="form-row">
            <label for="form_name" class="custom">Nom</label>
            {{ form_widget(form.name, {"attr": {"class": "custom"}}) }}
        </div>
        {% if form.name.vars.errors|length %}
            <div class="form-errors">
                {{ form_errors(form.name, {"attr": {"class": "form-error"}}) }}
            </div>
        {% endif %}
        <div class="form-row">
            <label for="form_comment" class="custom">Commentaire</label>
            {{ form_widget(form.comment, {"attr": {"class": "custom"}}) }}
        </div>

            <div class="form-row">
                <label for="form_categories">categories</label>
                {{ form_widget(form.categories, {"attr": {
                    "class": "dropdown"
                }}) }}
            </div>
            <div class="form-row">
                <label for="form_components">composants</label>
                {{ form_widget(form.components, {"attr": {
                    "class": "dropdown"
                }}) }}
            </div>
        <div class="form-row inline">
            <label for="form_components">Pain</label>
            {{ form_widget(form.bread) }}
        </div>
        <div class="form-row inline">
            <label for="form_components">Sauce</label>
            {{ form_widget(form.sauce) }}
        </div>
        <div class="form-row inline">
            <label for="form_components">Crudité</label>
            {{ form_widget(form.vegetable) }}
        </div>
        <div class="form-row">
                {% for image in form.images %}
                    {{ form_row(image.imageFile) }}
                {% endfor %}
        </div>
        <ul class="vich-image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">

        </ul>
    {% endblock %}
