{% extends '_skeletons/_forms.html.twig' %}

{% block title %}Ajout d'un ingrédient{% endblock %}
    {% block form_details %}
        <div class="form-row">
            <label for="form_name">Nom</label>
            {{ form_widget(form.name) }}
        </div>
        {% if form.name.vars.errors|length %}
            <div class="form-errors">
                {{ form_errors(form.name, {"attr": {"class": "form-error"}}) }}
            </div>
        {% endif %}
        <div class="form-row">
            <label for="form_comment">Commentaire</label>
            {{ form_widget(form.comment) }}
        </div>
        <div class="form-row">
            <label for="form_categories">categories</label>
            {{ form_widget(form.categories) }}
        </div>
        <div class="form-row">
            <label for="form_components">composants</label>
            {{ form_widget(form.components) }}
        </div>
        <div class="form-row">
            <label for="form_components">Pain</label>
            {{ form_widget(form.bread) }}
        </div>
        <div class="form-row">
            <label for="form_components">Sauce</label>
            {{ form_widget(form.sauce) }}
        </div>
    {% endblock %}
