{% extends '_bases/_front_base.html.twig' %}

{% block body %}
    <div id="cards" class="stackable doubling four column row">
        {#{% for col in photos|batch(5) %}#}
            {#<div class="column">#}
                {% for photo in photos %}
                    <div class="ui card card-zoom">
                        <div class="image">
                            <img src="{{ photo.low_resolution }}" class="ui fluid rounded image"/>
                            {#<img src="https://scontent.cdninstagram.com/vp/b788d8990376379ca8b8eba05ae68681/5E56390B/t51.2885-15/e35/s320x320/72486001_476491496545131_1031227974223832632_n.jpg?_nc_ht=scontent.cdninstagram.com" class="ui fluid rounded image"/>#}
                        </div>
                        <div
                                :class="{expanded : isExpanded({{ photo.id }})}"
                                class="description instagram-description left aligned"
                        >
                            {{ photo.caption }}
                        </div>
                        <div class="extra content center aligned">
                            <a href="{{ photo.link }}"
                               class="ui rounded instagram icon basic button"
                               title="Lien vers le post Instagram | La Clémentine .be">
                                <i class="instagram icon"></i>
                            </a>
                            <a href="{{ path('front_photo_instagram', {'id': photo.id}) }}"
                               class="ui rounded icon basic button"
                               title="Voir dans une nouvelle fenêtre | La Clémentine .be">
                                <i class="window restore outline icon"></i>
                            </a>
                            {#<a href="{{ path('front_photo_instagram', {'id': photo.id}) }}"#}
                               {#class="ui rounded  icon basic button"#}
                               {#title="Lien vers le post Instagram | La Clémentine .be">#}
                                {#<i class="zoom icon"></i>#}
                            {#</a>#}
                            <button
                               @click="doExpand({{ photo.id }})"
                               class="ui rounded  icon basic button"
                               title="Plus de description | La Clémentine .be">
                                <i :class="{up : isExpanded({{ photo.id }}), down : !isExpanded({{ photo.id }}) }"
                                   class="caret icon"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {#</div>#}
        {#{% endfor %}#}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/instagram-list.js') }}"> </script>

{% endblock %}