<div class="row">
    <div class="eight wide column right aligned">
        {% if app.user %}
            <a href="{{ path('logout') }}">
                <i class="user icon"></i>Déconexion ({{ app.user.username }})
            </a>
        {% else %}
            <a href="{{ path('login') }}">
                <i class="user icon"></i>connexion
            </a>
        {% endif %}
    </div>
    <div class="eight wide column right aligned">
        {% if app.user %}
            <a href="{{ path('front_get_user_Cart') }}">
                <i class="cart icon"></i>panier
                (
                {{ render(controller('App\\Controller\\Front\\Client\\cartController::getCartNumber')) }}
                )
            </a>
        {% else %}
            <a href="{{ path('register') }}">
                <i class="user icon"></i>Inscription
            </a>
        {% endif %}



    </div>
</div>
