{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-left">
            <img src="{% block card_image%}{{ asset('images/common/no-photo.jpg') }} {% endblock %}" />
            <div class="card-properties">
                <span class="card-property">id: {{object.id  }}</span>
                {% block card_properties_rest %} {% endblock %}
            </div>
        </div>
        <div class="card-right">
            <h1>{% block card_title %}
                    {% if object.name is defined %}
                        {{ object.name }}
                    {% else%}
                    Title
                    {%  endif%}
                {% endblock %}
            </h1>
            {% block card_description %}
                {% if object.description is defined %}
                    <p>{{ object.description }}</p>
                {%  endif%}
            {% endblock %}
            {% block card_comment %}
                {% if object.comment is defined %}
                    <p>{{ object.comment }}</p>
                {%  endif%}
            {% endblock %}

            {% block card_rest %}

            {% endblock %}
        </div>

        {% include '_elements/_card_actions_floating.html.twig' %}
    </div>

{% endblock %}