{% extends '_bases/_admin_base.html.twig' %}

{% block body %}

    <div class="ui floating message">
        <h1>Confirmation</h1>


        <p>Souhaitez-vous supprimer cet élément ?</p>
        <p>({{ object.id }}) {{ object.name }}</p>


        {{ form_start(form) }}
            {{ form_row(form.oui, {'attr': {'class': 'ui negative button '}}) }}
            {{ form_row(form.non, {'attr': {'class': 'ui primary button '}}) }}
        {{ form_end(form) }}
    </div>


{% endblock %}