{% extends '_bases/_admin_base.html.twig' %}

{% block body %}

    <div class="ui floating message">
        <h1>Confirmation</h1>

        {% block message_infos %}
            <p>Souhaitez-vous <strong><em>supprimer</em></strong> cet élément ?</p>
            <p>({{ object.id }}) {{ object.name }}</p>
        {% endblock %}

            {{ form_start(form) }}
                <div class="ui horizontal list" style="display: inline-flex !important;">
                    {{ form_row(form.oui, {'attr': {'class': 'item ui circular negative icon button '}}) }}
                    {{ form_row(form.non, {'attr': {'class': 'item ui circular info icon button '}}) }}

                </div>
        </div>
    </div>


{% endblock %}