{%  extends '_bases/_admin_base.html.twig' %}

{% block body %}

{% include '_elements/_flash_messages.html.twig' %}

    <h1>{%  block title %} Category  Form {% endblock %} </h1>

    {{ form_start(form, {attr:{
        class: 'ui form',
        novalidate : 'novalidate'}}) }}
    {{ form_errors(form) }}
        {#if not form.vars.valid %}
            <div class="form-errors">
                {{ form_errors(form) }}
            </div>
        {% endif #}
    {% block form_details %}
        {{ form_widget(form) }}
    {% endblock %}

    {% block other_buttons %} {% endblock %}

        <p> <button class="ui orange button" type="submit" style="margin-top: 1rem">Envoi</button></p>

    {{ form_end(form) }}


{% endblock %}