{% extends '_bases/_admin_base.html.twig' %}

{% block body %}
    {% include '_elements/_flash_messages.html.twig' %}
    <h1> {% block title %}skeleton list {% endblock %} </h1>

    <div class="row">
        <div class="ui middle aligned divided fluid big list">
            {% for object in list %}
                <div class="item" >
                    <div class="middle aligned right floated">
                        {% block show %}
                            <a href="{{ path(entity ~ '_show', {'slug' : object.slug}) }}" class="ui blue circular tiny icon button">
                                 <i class="zoom icon"></i>
                            </a>
                        {% endblock %}
                        {% block update %}
                            <a href="{{ path(entity ~ '_update', {'slug' : object.slug}) }}" class="ui olive circular tiny icon button">
                                <i class="edit icon"></i>
                            </a>
                        {% endblock %}
                        {% block delete %}
                            <a href="{{ path(entity ~ '_delete', {'slug' : object.slug}) }}" class="ui red circular tiny icon button">
                                <i class="delete icon"></i>
                            </a>
                        {% endblock %}
                    </div>
                    {#<img class="ui avatar image" src="/images/~{{ object.images[0].imageName }}">#}
                    <div class="middle aligned content" style="line-height: 2rem">
                        {% block element_title %} {# sometime it's title #}
                            <a href="{{ path(entity ~ '_show', {'slug' : object.slug}) }}">{{ object.name }}</a>
                        {% endblock %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% include '_elements/_action_floating_menu.html.twig' %}

{% endblock %}