{% extends '_bases/_admin_base.html.twig' %}

{% block body %}
    {% include '_elements/_flash_messages.html.twig' %}
    <h1> {% block title %}skeleton list {% endblock %} </h1>

    <div class="row">
        <div class="ui middle aligned divided fluid list">
            {% for object in list %}
                <div class="item">
                    <div class="right floated content">
                        <a href="{{ path(entity ~ '_show', {'slug' : object.slug}) }}" class="ui blue button">
                             <i class="zoom icon"></i></a>
                        </a>
                        <a href="{{ path(entity ~ '_update', {'slug' : object.slug}) }}" class="ui olive button">
                            <i class="edit icon"></i>
                        </a>
                        <a href="{{ path(entity ~ '_delete', {'slug' : object.slug}) }}" class="ui red button">
                            <i class="delete icon"></i>
                        </a>
                    </div>
                    {#<img class="ui avatar image" src="/images/~{{ object.images[0].imageName }}">#}
                    <i class="square icon"></i>
                    <div class="content">
                        <a href="{{ path(entity ~ '_show', {'slug' : object.slug}) }}">{{ object.name }}</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% include '_elements/_action_floating_menu.html.twig' %}

{% endblock %}