{% extends 'base.html.twig' %}

{% block body %}
    {% include '_elements/_flash_messages.html.twig' %}
    <h1> {%  block title %}skeleton list {% endblock %} </h1>
    <div class="list-group">
        {% for object in list %}


            <div class="list-group-item">
                    <div class="name"> <a href="{{ path(entity ~ '_show', {'slug' : object.slug}) }}">{{ object.name }}</a> </div>
                <div class="actions">
                    <a href="{{ path(entity ~ '_show', {'slug' : object.slug}) }}"> <i class="material-icons bg-info">details</i></a>
                    <a href="{{ path(entity ~ '_update', {'slug' : object.slug}) }}"> <i class="material-icons bg-primary">mode_edit</i></a>
                    <a href="{{ path(entity ~ '_delete', {'slug' : object.slug}) }}"> <i class="material-icons bg-alert">delete</i></a>
                </div>
            </div>
        {%  endfor %}
    </div>

    {% include '_elements/_action_floating_menu.html.twig' %}

{% endblock %}