{% if position == 'proposal' %}
    {% set max = 1000 %}
{% endif %}

{% for item in items |slice(0, max) %}
    <div class="column" style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
        <div class="ui fluid card">
            <div class="image">
                <span class="ui orange ribbon label">{{ item.price }} eur</span>
                {% if  item.images is not empty %}
                    <img src="{{ asset('images/products/'~item.images[0].imageName) }}"
                         alt="{{ asset('images/products/'~item.images[0].imageName) }}">
                {% else %}
                    <img src="{{ asset('images/logo_white-400.png') }}" alt="laclementine.be">
                {% endif %}
            </div>
            <div class="content">
                <div class="meta ">
    <span class="ui tiny green header">
    {% for type in  item.types %}
        {{ type.name }}
    {% endfor %}
    </span>
                </div>
                <a href="{{ path('product_card', {'slug': item.slug}) }}"
                   class="ui medium header"
                   style="margin-top: -1px ; "
                >{{ item.name }}</a>
                {#<div class="ui list ">#}
                    {#{% for ingredient in item.ingredients |slice(0, 2) %}#}
                        {#<i class="item" style="word-break: break-word">#}
                            {#{{ ingredient.name|hashtag }}#}
                        {#</i>#}
                    {#{% endfor %}#}
                {#</div>#}
            </div>
            <div class="extra content">
                {% if item.halal %}
                    <a>
                        <img src="{{ asset('images/flags/halal-flag-50.png') }}"
                        alt="halal friendly" />
                    </a>
                {% else %}
                    <a>
                        <img src="{{ asset('images/flags/square-transparent.png') }}"
                        alt="laclementine.be">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}cd