<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="toolbar">
        <span id="menu-icon">
            <i class="material-icons" id="menu">menu</i>
        </span>
        <span id="title">La Clémentine</span>
    </div>

    <div id="lateral-menu">
        <ul>
            <li><i class="material-icons">input</i> <a href="">Entrée marchandises</a></li>
            <li><i class="material-icons">shopping_cart</i><a href=""> Commandes </a></li>
            <hr class="separation">
            <li><i class="material-icons">free_breakfast</i><a href=""> Produits </a></li>
            <li><i class="material-icons">store</i> <a href="{{ path('providers_list') }}"> Fournisseurs </a></li>
            <li><i class="material-icons">info</i> <a href=""> Allergies</a></li>
            <hr class="separation">
            <li><i class="material-icons">layers</i> <a href="{{ path('ingredients_list') }}"> Ingredients</a></li>
            <li><i class="material-icons">local_offer</i> <a href="{{ path('categories_list') }}"> Categories</a></li>
            <li><i class="material-icons">assignment</i> <a href=""> Types</a></li>
            <hr class="separation">
        </ul>

    </div>
    <div class="content">
    {% block body %}{% endblock %}
    </div>
</div>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
