<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PDF - La clementine.be{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#<link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css">#}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="{{ pathToWeb }}/build/css/sui.css" rel="stylesheet">
    <link href="{{ pathToWeb }}/build/css/pdf.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="ui padded grid">
    {% block body %}
        <div class="row">
            <div class="two wide column">
                <div class="ui fluid image">
                    <img src="{{ pathToWeb }}/images/logo_clementine_02.png" alt="clem"/>
                </div>
            </div>
            <div class="fourteen wide column">
                <h1>Fiche produit : {{ ingredient.name }} ({{ ingredient.code }})</h1>
            </div>
        </div>
        <div class="row ">
            <div class="sixteen wide centered column">
                <div class="ui two cards">
                    <div class="ui card ">
                        <div class="red content">
                            <span class="header red text"> Allergies </span>
                            <div class="ui bulleted list">
                                {% for allergy in ingredient.allergies %}
                                    <div class="item">{{ allergy }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="blue card">
                        <div class="content">
                            <span class="header">  Allergènes </span>
                            <div class="ui bulleted list">
                                {% for tag in ingredient.allergenTags %}
                                    <div class="item">{{ tag }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="eight wide centered column">
                <div class="ui fluid red centered card">
                    <div class="content">
                        <div class="header"> Nutriscore</div>
                    </div>
                    <div class="ui medium centered image">
                        <img src="{{ pathToWeb }}/images/nutriscore/nutriscore-{{ ingredient.nutritionGradeFr }}.png" alt="clem"/>
                    </div>
                </div>
                <div class="ui fluid red centered card">
                    <div class="content">
                        <div class="header"> Repères Nutritionnels</div>
                    </div>
                    {%  set levels = ingredient.nutrientLevels|split(',')  %}
                    <div class="ui list">
                        <div class="ui item">
                            Sucre: {{ levels[0] }}
                        </div>
                        <div class="ui item">
                            Graisse: {{ levels[1] }}
                        </div>
                        <div class="ui item">
                            Sel: {{ levels[2] }}
                        </div>
                        <div class="ui item">
                            Graisses Saturées {{ levels[3] }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="eight wide centered column">
                <div class="ui fluid red card">
                        <div class="content">
                            <div class="header text-center">
                                {{ ingredient.name }}
                            </div>
                            <ul>
                                <li>Code: {{ ingredient.code }}</li>
                                <li>Nom: {{ ingredient.name }}</li>
                                <li>Marque: {{ ingredient.brands }}</li>
                                <li>Nom générique: {{ ingredient.genericNameFr }} </li>
                                {#<li>Origine: {{ ingredient.countries }}</li>#}
                            </ul>
                        </div>
                    </div>
                <div class="ui fluid red card">
                    <div class="content">
                        <div class="header text-center">
                           Catégories
                        </div>
                        <div class="ui horizontal divided list">
                            {% for category in ingredient.categories %}
                                <div class="item">
                                    {{ category.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="ui fluid red card">
                    <div class="content">
                        <div class="header text-center">
                           Additifs
                        </div>
                        <div class="ui horizontal divided list">
                            {% for additive in ingredient.additives %}
                                <div class="item">
                                    {{ additive.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fourteen wide grey centered column">
                <span class="header">Ingrédient (par ordre d'importance décroissant</span>
                <p>{{ ingredient.ingredientsTextFr }}</p>
            </div>
        </div>
        <div class="row">
            <div class="fourteen wide centered column">
                <div class="ui three cards">
                    {% if ingredient.imageUrl is not null %}
                        <div class="red card">
                            <div class="image">
                                <img src="{{ ingredient.imageUrl }}" alt="{{ ingredient.brands }} image">
                            </div>
                        <div class="content">
                            {{ ingredient.name }}
                        </div>
                    </div>
                    {% endif %}
                    {% if ingredient.imageIngredientsUrl is not null %}
                        <div class="red card">
                            <div class="image">
                                <img src="{{ ingredient.imageIngredientsUrl }}" alt="{{ ingredient.brands }} image ingredients">
                            </div>
                        <div class="content">
                            {{ ingredient.name }} composition
                        </div>
                    </div>
                    {% endif %}
                    {% if ingredient.imageNutritionUrl is not null %}
                        <div class="red card">
                            <div class="image">
                                <img src="{{ ingredient.imageNutritionUrl }}" alt="{{ ingredient.brands }} image nutrition">
                            </div>
                        <div class="content">
                            {{ ingredient.name }} infos nutrition
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

    {% endblock %}

</div>

</body>
</html>
